<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <p class="text left mt-5 px-5 " >
    　   ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
</div>