<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <p>
    　ようこそ、ながの
      <strong>CAKE</strong>
      へ！<br>
      このサイトは、ケーキ販売の
      <strong>EC</strong>
      サイトになります。<br>
      
      </p>