<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mt-4">
      <span class="bg-light px-2 ml-5">
        注文履歴一覧
      </span>
      
      <table class="table">
        <thead class="bg-light" >
          <tr><th>注文日</th><th>配送先</th><th>注文商品</th><th>支払金額</th><th>注文詳細</th></tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>



